In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('data/BatteryTemperature.csv', header=None)

In [7]:
df.head()

                     0         1
0  2004-02-13 15:00:00  3.832011
1  2004-02-13 16:00:00  3.382078
2  2004-02-13 17:00:00  3.848675
3  2004-02-13 18:00:00  3.645655
4  2004-02-13 19:00:00  3.542035

In [8]:
df.describe()

                   1
count  128289.000000
mean        3.882216
std         3.028597
min        -8.822058
25%         1.709975
50%         2.927965
75%         5.216311
max        23.116580

In [13]:
df[1]

0         3.832011
1         3.382078
2         3.848675
3         3.645655
4         3.542035
            ...
128284    0.593578
128285    0.593578
128286    0.593578
128287    0.593578
128288    0.593578
Name: 1, Length: 128289, dtype: float64

In [15]:
for i in range(10):
    print(df[1][i])

3.83201123739316
3.3820783988272702
3.8486754010242894
3.645654984748969
3.5420351168044
3.7823365547281766
3.32211979483086
3.753177979307989
3.436977322916866
3.478040513298753